@inherits LayoutComponentBase

<div class="page">


    <main>
        <nav class="navbar navbar-dark bg-dark" style="padding:0px;">
            <div class="container">

                <a class="navbar-brand " href="#">
                    <img src="/Img/logo2.png" width="47" height="47" class="" alt="">
                    <span></span>Kino Za Rogiem
                </a>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>

        <footer class="bg-dark text-center text-white fixed-bottom footer">
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2023 Copyright:
                Michał Boese & Adam Rekruciak
            </div>
        </footer>

    </main>
</div>