<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Super kino</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sala1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sala I
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sala2">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sala II
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sala3">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sala III
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sala4">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sala IV
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
